<%= form_for(@task) do |f| %>
  <table class="file">
<td><h1>タスク編集</h1></td>
  <td><%= render 'layouts/error_messages', model: f.object %></td>
  <td><div><%= f.label :title %></div></td>
  <td><div><%= f.text_field :title %></div></td>
  <td><div><%= f.label :description %></div></td>
  <td><div><%= f.text_area :description %></div></td>
  <td><div><%= f.label :start,"開始日" %></div></td>
  <td><div><%= f.date_field :start %></div></td>
  <td><div><%= f.label :end,"終了日" %></div></td>
  <td><div><%= f.date_field :end %></div></td>
  <td><div><%= f.label :completed %></div></td>
  <td><div><%= f.select :completed, [['未完了',0],['完了',1]], {} %></div>
  <div><%= f.submit "更新" %></div></td>
<td><%= link_to 'タスク一覧に戻る', tasks_path, class:"back" %></td>
</table>
<% end %>